[submodule "apps/extension/src/titan-wallet-private"]
	path = apps/extension/src/titan-wallet-private
	url = https://github.com/chainapsis/titan-wallet-private
[submodule "apps/mobile/src/titan-wallet-mobile-private"]
	path = apps/mobile/src/titan-wallet-mobile-private
	url = https://github.com/chainapsis/titan-wallet-mobile-private
