**/*.png
**/*.svg
**/*.ttf
**/*.woff
**/*.woff2
**/*.otf
**/*.secret
**/*.md
**/*.log
**/*.webm
**/*.txt
.DS_Store

.gitignore

node_modules

dist/*
prod/*
build/*

noop-titan-wallet-private/build

yarn.lock

noop-alt-sign-in
